{% extends "app/layout.html" %}

{% block content %}
<section class="extrabg">
<div class="container body-content">
    <br/>
    <br/>
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <College>
        <Strong>Sapthagiri College of Engineering</Strong><br/>
    </College>

    <Details_data>
        Computer Science and Engineering<br />
        Nitin Mundhara<br/>
        Pavithra S.<br/>
        Saurajeet Banarjee<br/>
    </Details_data>
</div>
    <br/><br/><br/><br/><br/>
    <footer>
        <div class="container">
            <div class="col-md-12">
                <p>&copy; {{ year }} - Book Bus For Me</p>
            </div>
        </div>
    </footer>
</section>
{% endblock %}
